.D_groupList_large  ul.D_summaryList  li.D_group {
    border-color: #BBBBBB;
    border-style: solid;
    padding-bottom: 1.25em;
    padding-top: 0.5em;
 }
 
.D_groupList_large ul.D_summaryList .D_image {
    width: 180px;
} 