#block-frontpage-1 {
float:right; 
margin-top: -60px;
margin-bottom: 0px;
}

#block-frontpage-1 .content{
margin-top: 10px;
text-align: right; 
}

#block-frontpage-1 #C_welcome {
    color: #666666;
    float: right;
    font-size: 0.9em;
    font-weight: bold;
    position: relative;
    width:auto;
    display:inline; 
}
#block-frontpage-1 #C_welcome  a{
    color: #666666;
   float:left;
}
#block-frontpage-1 #C_welcome  a.icon{
width: 30px;
padding: 0 0 0 0;
margin-top: 7px;
}
#block-frontpage-1 #C_welcome  a.text{
width: auto;
}


#block-frontpage-1 ul#frontpage-top-right-menu {
    float: right;
    margin-bottom: 0 !important;
    margin-left: 5px;
    padding: 0 !important;
    position: relative;
    list-style: none outside none;
}
#block-frontpage-1 ul  li.leaf{
    display: inline;
    font-size: 0.9em;
    margin: 0 0 0 0.8em;
    padding: 0;
    margin-left:0px;
}

#block-frontpage-1 ul  li.left a{
padding: 0.4em 0.5em;
}

#block-frontpage-1 ul  li.C_userNavItem_less a{
  color: #AAAAAA;  
}
#block-frontpage-1 ul  li.whats-new {
width: auto;

}

#block-frontpage-1 ul  li.whats-new  a{
padding-right: 0px; 

}

#block-frontpage-1 ul  li.C_userNavItem_less .unreadCount {
    -moz-border-radius: 4px 4px 4px 4px;
    background: none repeat scroll 0 0 #E51937;
    color: #FFFFFF;

    font-family: arial,sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 150%;
    padding: 2px;
    width:2em;
 
}
.hasDropDown .C_arrowTab {
    background-image: url("../images/arrow_tab.gif");
    height: 19px;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 18px;

}



/* theme block -frontpage -2 */
#block-frontpage-2 {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 white;
    margin-bottom: 0em;
    padding: 1px 0 0;
    position: relative;
    margin-top: 1em;
 }
 
 .D_boxhead {
    font-size: 1em;
    overflow: hidden;
    padding: 0 0.5em 0.65em;
    width: 100%;
    border-right: 0px solid #CCCCCC;
    float: left;   
    margin-right: 0;
}

 .D_boxsection {
    border-top: 1px solid #CCCCCC;
    font-size: 1em;
    line-height: 1.4em;
    padding: 0.9em 0.5em;
    float:left;
}
.home  #content-group{
width: 59%;
margin-right: 1%;
}
.home  #sidebar-last {
width: 40%;
}

#block-frontpage-3{
width: 100%;
}

#block-frontpage-3 .inner .content{
border-top: 1px solid #CCCCCC;
}
span.pop {
    color: #CC0000 !important;
}
.D_boxhead .storytime {
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: #EDF5FE;
    overflow: hidden;
    padding: 0.5em;
}

/* front page featured group */
.D_maybeItsTime span {
    display: block;
    
}
.D_photoGroup {
    color: #FFFFFF;
    float: left;
    margin-bottom: 1px;
    margin-right: 1px;
    position: relative;
}
.D_photoGroup a.D_photoGroup_link {
    color: #FFFFFF;
    display: block;
    height: 200px;
    width: 248px;
}
.D_photoGroup span {
    display: block;
}

.D_photoGroup .D_photoGroup_bkg {
    background-color: #111111;
    bottom: 5px;
    height: 85px;
    left: 5px;
    opacity: 0.65;
    position: absolute;
    width: 239px;
    z-index: 1;
}


.D_photoGroup .D_photoGroup_caption {
    bottom: 5px;
    height: 85px;
    left: 5px;
    overflow: hidden;
    position: absolute;
    width: 239px;
    z-index: 2;
}

.D_photoGroup .D_photoGroup_caption .D_photoGroup_caption_body {
    padding: 2px 5px;
}

.D_photoGroup .D_photoGroup_caption .D_photoGroup_location {
    color: #FFFFFF;
    font-size: 0.9em;
    text-decoration: none !important;
}
.D_photoGroup .D_photoGroup_caption .D_photoGroup_name, .D_photoGroup .D_photoGroup_caption .D_photoGroup_name a {
    color: #EEEEEE;
    font-weight: bold;
}
.D_photoGroup .D_photoGroup_caption .D_photoGroup_lastMeetup {
    color: #CCCCCC;
    font-size: 0.8em;
    margin-top: 0.15em;
    text-decoration: none !important;
}
