
#block-frontpage-2 {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 white;
    margin-bottom: 0em;
    padding: 1px 0 0;
    position: relative;
    margin-top: 1em;
 }
 
 .D_boxhead {
    font-size: 1em;
    overflow: hidden;
    padding: 0 0.5em 0.65em;
}
 .D_boxsection {
    border-top: 1px solid #CCCCCC;
    font-size: 1em;
    line-height: 1.4em;
    padding: 0.9em 0.5em;
}
.home  #content-group{
width: 59%;
margin-right: 1%;
}
.home  #sidebar-last {
width: 40%;
}

#block-frontpage-3{
width: 100%;
}

#block-frontpage-3 .inner .content{
border-top: 1px solid #CCCCCC;
}
span.pop {
    color: #CC0000 !important;
}
.D_boxhead .storytime {
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: #EDF5FE;
    overflow: hidden;
    padding: 0.5em;
}