.myGroupsSection{
 list-style: none outside none;
}

.dotted-section {
    border-bottom: 1px dotted #E6E6E6;
    margin-bottom: 2em;
}
div.D_group {
    border-bottom: 0 none;
    border-top: 1px dotted #CCCCCC;
    display: inline-block;
    margin: 0 10px 0 0;
    padding-top: 10px;
    position: relative;
    vertical-align: top;
    width: 46%;
}

.D_group .D_image img {
    max-width: 50px;
	float: left;
    overflow: hidden;
    text-align: center;
}
.D_group .D_info {
    margin: 0 0 0 60px;
	width: 100%;
}

.member-role a {
    color: #888888;
    font-family: verdana,sans-serif;
    font-size: 11px;
    font-variant: small-caps;
    line-height: 1.1;
    padding-top: 3px;
    text-transform: lowercase;
}
