.isNotDivided, .isSorted, .isTabbed {
    border-top: medium none;
    padding-top: 1px;
}
#sponsorSplash #blurb {
    width: 540px;
}
#sponsorSplash #blurb a {
    font-size: 10px;
}
#sponsorSplash #groups {
    margin-top: 18px;
}
#sponsorSplash #groups .group:first-child {
    border-left: 0 none;
}

#sponsorSplash #groups .group {
    border-left: 1px dotted #DDDDDD;
    float: left;
    width: 228px;
}
#sponsorSplash #groups .group .photo {
    height: 160px;
    width: 228px;
}

#sponsorSplash #chooseYourOwnAdventure {
    margin-bottom: 16px;
    margin-top: 18px;
}
#sponsorSplash #chooseYourOwnAdventure #fullserv {
    -moz-border-radius: 4px 4px 4px 4px;
    background: none repeat scroll 0 0 #F0F2EC;
    float: right;
    font-size: 12px;
    padding: 12px;
    width: 320px;
}
#sponsorSplash #chooseYourOwnAdventure #fullserv h3 {
    font-size: 20px;
}

#sponsorSplash h3 {
    color: #111111;
    font-family: verdana,sans-serif !important;
    font-size: 22px;
    font-weight: normal;
}
#sponsorSplash #chooseYourOwnAdventure #fullserv .trampoline {
    -moz-border-radius: 4px 4px 4px 4px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
    display: block;
    font-size: 14px;
    padding: 6px 4px;
    text-align: center;
}
#sponsorSplash #chooseYourOwnAdventure #selfserv {
    margin-right: 344px;
}
#sponsorSplash h3 {
    color: #111111;
    font-family: verdana,sans-serif !important;
    font-size: 22px;
    font-weight: normal;
}
#sponsorSplash #chooseYourOwnAdventure #selfserv ol {
    margin: 0;
    padding-left: 1.65em;
}


#sponsorSplash #chooseYourOwnAdventure #selfserv ol li {
    margin-top: 4px;
}
#sponsorSplash #chooseYourOwnAdventure #selfserv ol li:first-child {
    margin-top: 0;
}
#sponsorSplash #chooseYourOwnAdventure #selfserv .trampoline {
    float: left;
    margin: 10px 0 0 1.6em;
}

#sponsorSplash #chooseYourOwnAdventure #selfserv .trampoline a {
    line-height: 1em;
    min-width: 10em;
    padding: 0.45em 1em;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto;
    -moz-border-radius: 4px 4px 4px 4px;
    background: -moz-linear-gradient(center top , #F10044, #AD0000) repeat scroll 0 0 #AD0000;
    border: 2px solid #AD0000;
    color: #FFFFFF !important;
    text-decoration: none;
    background-color: #D22A2C;
    background-image: url("../images/button_gradient.png");
    background-position: left top;
    background-repeat: no-repeat;
}
/* create sponsor step 1 */
#perks-breadcrumb {
    background: none repeat scroll 0 0 #F5F5F5;
    list-style-type: none;
    padding: 0.5em 0.7em;
    position: relative;
}
.D_selectedStep {
    background: none repeat scroll 0 0 #E51937;
    color: white;
    opacity: 1;
}
meetup.css (line 1)
.D_step {
    -moz-border-radius: 4px 4px 4px 4px;
    background: none repeat scroll 0 0 #F9F9F7;
    font-family: verdana,arial,sans-serif !important;
    line-height: 1.3em;
    min-height: 45px;
    opacity: 0.8;
    position: relative;
}

.D_selectedStep {
    background: url("//img1.meetupstatic.com/img/74729282758385256556/btn_bkg_noborder.png") repeat-x scroll left top #CC3333;
}

.D_step {
    -moz-border-radius: 4px 4px 4px 4px;
    display: inline-block;
    margin-right: 0.5em;
    padding: 0.5em 0.5em 0.8em;
    width: 135px;
}
