#add-profile-avator {

}
#memberOwnPhotosList, #memberTaggedPhotosList, #memberOwnPhotoOnlyOne, #memberOwnPhotosListWider {
    display: inline-block;
    margin: 0;
    padding: 0;
}
#memberOwnPhotoOnlyOne li.item, #memberOwnPhotosListWider li.item {
    float: left;
    list-style: none outside none;
    margin: 0 12px 12px 0;
}
#memberOwnPhotoOnlyOne div, #memberOwnPhotosListWider div {
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    height: 360px;
    padding: 0;
    width: 240px;
}
#memberOwnPhotoOnlyOne div a, #memberOwnPhotosListWider div a {
    border: 1px solid #CCCCCC !important;
    display: block;
    height: 358px;
    text-decoration: none;
    width: 238px;
}
ul.D_actions li.canDo a {
    cursor: pointer;
}
