.D_listControls {
    background: none repeat scroll 0 0 #F2F2F2;
    border-bottom: 1px dotted #DDDDDD;
    border-right: 1px dotted #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 0 0 0.75em;
     border-color: #B8BFB4;
     background-color: #BDDCAB !important;
     width: 100%;
     float:left;
}
.D_listControl {
    border-left: 1px dotted #CCCCCC;
    float: left;
    line-height: 1.9em;
    min-height: 3em;
    padding: 1em;
}
.D_radio {
    border-color: #666666 -moz-use-text-color #666666 #666666;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    display: inline-block;
}
.D_radio a {
    background: url("../images/bkg_out.png") repeat-x scroll left top #CCCCCC;
    border-right: 1px solid #666666;
    color: #555555 !important;
    display: inline-block;
    font-family: arial;
    font-size: 0.85em;
    font-weight: bold;
    padding: 0 0.6em;
    text-transform: uppercase;
}
.D_radio a.selected {
    background: url("../images/bkg_in.png") repeat-x scroll left top #CCCCCC;
    color: #111111 !important;
}


ul.D_summaryList {
    list-style: none outside none;
    margin: 0 -0.5em;
    padding: 0 0.5em;
}


ul.D_summaryList  li{
    float:left;
}



.D_groupList_shopping ul.D_summaryList .D_info {
    border-left: 1px solid #EEEEEE;
    margin: 0;
    padding: 0.35em 0.75em 0;
    border-color: #B8BFB4;
}
.D_groupList_shopping ul.D_summaryList .D_info .D_name {
    font-size: 1em;
    line-height: 1.1em;
    margin: 0 auto 0.25em;
    width: 180px;
}

body.node-type-album  .D_boxhead{
width: 100%;
}
#D_photoGallery_wrapper {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #CCCCCC;
    padding: 1em;
}

#D_photoGallery_actions_container {
    width: 600px;
}
#D_photoGallery_actions {
    color: #666666;
    float: left;
    font-size: 0.95em;
    margin-top: 0.75em;
    padding: 0;
}
#D_photoGallery_actions .first {
    border: medium none;
    padding-left: 0;
}

#D_photoGallery_actions li {
    border-left: 1px solid #DDDDDD;
    display: inline;
    padding: 0 3px 0 6px;
    color: #3D403C;
}

#D_photoGallery_orgControls {
    z-index: 1500;
}
#D_photoGallery_movePhotoControl {
    padding: 0 0 0.5em;
}
.hasJS .dropDown_hidden, .hasJS .jsStartHidden {
    display: none !important;
}

.D_dropdownContent {
    color: #444444;
}

.D_dropdownContent {
    background: none repeat scroll 0 0 #F0FAEB;
}

.D_dropdownContent {
    -moz-border-radius: 0 0 5px 5px;
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: #EEEEEE;
    border-style: solid;
    border-width: 0 1px 1px;
    color: #272727;
    font-size: 0.9em;
    list-style: none outside none;
    margin: 0;
    padding: 0 0.5em 0.5em;
    position: absolute;
    z-index: 2000;
}

.D_photoShare {
    float: right;
    padding-bottom: 0.25em;
}

#D_photoTags {
    float: left;
    margin-top: 1em;
    width: 360px;
}
#D_photoGallery_uploadCredit {
    float: right;
    font-size: 0.9em;
    margin-top: 1em;
    position: relative;
    width: 227px;
}

#photo_controls {
    z-index: 1500;
    -moz-border-radius: 0 0 5px 5px;
    background: none repeat scroll 0 0 #F0FAEB;
    border-color: #EEEEEE;
    border-style: solid;
    border-width: 0 1px 1px;
    color: #272727;
    font-size: 0.9em;
    list-style: none outside none;
    margin: 0;
    padding: 0 0.5em 0.5em;
    position: absolute;
}

